<!-- NOTE: handlebars variables here are escaped, as this tempalte is passed to front-end -->
<li class="media">
  <a href="#" class="queue-link" data-id="\{{id}}">
	  <div class="media">
      <div class="pull-left media-object queue-card-img img-circle" style="background-image: url('\{{image}}');">
      </div>
	    <div class="media-body">
	      <p>\{{first_name}} \{{last_name}}</p>
	    </div>
	    <div class="media-delete-link">
	    	<p><a class="delete-queue-link" href="#" data-id="\{{id}}">[-]</a></p>
	    </div>
	  </div>
  </a>
</li>