
<!-- NOTE: handlebars variables here are escaped, as this tempalte is passed to front-end -->
<div class="card-\{{id}} bottom-card" style="display: none" data-id="\{{id}}">
	<div class="panel panel-default swipe-card card card-panel-\{{id}}" data-id="\{{id}}">
		<div class="panel-body">
			<!-- Provide background image url as a style for swipe-card-img. -->
			<!-- This allows use of non-square images with proper scaling. -->
			<!-- We can use img if the server guarantees square images. -->
			<!-- added modal popup here -->

			<div class="swipe-card-image" class="show-modal" style=" background-image: url('\{{image}}')" >
			</div>


			<div class="swipe-card-info">
				<div class="top-line">
					<h4>\{{first_name}} \{{last_name}}</h4>
					<!-- added modal popup -->
					\{{#if isAlternateView}}
						<a href="\{{fb_link}}" class="view-on-facebook">
							View on Facebook
						</a>
					\{{else}}
						<a href="#" class="show-modal">View more</a>
					\{{/if}}
				</div>
				\{{#if location.name.length}}
					<p><i class="fa fa-map-marker fa-fw"></i> \{{location}}</p>
				\{{else}}
					<p>&nbsp;</p>
				\{{/if}}
				\{{#if milestone.length}}
					<p><i class="fa fa-asterisk fa-fw"></i> \{{milestone}}</p>
				\{{else}}
					<p>&nbsp;</p>
				\{{/if}}
			</div>
			<div class="swipe-card-input">
				<textarea class="form-control" rows="2" placeholder="Send \{{first_name}} a message"></textarea>
			</div>
		</div>
	</div>
</div>
